	/*font-family: 'Open Sans', sans-serif;*/	


	#backgd{width:1440px; height:800px; background: black; margin:0; margin-top:0px; position: absolute; overflow: hidden;}
	#logo{width: 500px; height:auto; position: absolute; top:50%; left:50%; margin-top: -150px; margin-left: -250px;}

	#circle1 {width:180px; height: 180px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 100px; left:130px; transition: all 1s;}
	#circle2 {width:90px; height: 90px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 400px; left:350px; transition: all 1s;}
	#circle3 {width:120px; height: 120px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 600px; left:300px; transition: all 1s;}

	#circle4 {width:150px; height: 150px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 50px; left:650px; transition: all 1s;}
	#circle5 {width:130px; height: 130px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 530px; left:800px; transition: all 1s;}

	#circle6 {width:90px; height: 90px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 230px; left:980px; transition: all 1s;}
	#circle7 {width:160px; height: 160px; background:none; border-radius: 50%; border:1px #ffffff solid; position: absolute; top: 450px; left:1100px; transition: all 1s;}


	#cirle8 {width: 30px; height: 30px; background:white; border-radius: 50%; position: absolute; top: 500px; left:250px;}


	#FourOut {line-height: 20px; margin:auto; text-align: center; color:white; font-size: 1em; font-family:'Open Sans', sans-serif; top:40%; position: relative;transition: all 1s;}
	#DoIWanna {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:15%; position:relative; transition: all 1s;} 
	#No1Party {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:35%; position:relative;transition: all 1s;}
	#Arabella {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:40%; position:relative;transition: all 1s;}
	#CryingL {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:35%; position:relative;transition: all 1s;}
	#WhatE {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:35%; position:relative;transition: all 1s;}
	#RuMine {line-height: 20px; margin:auto; text-align: center; color: white; font-size: 1em; font-family:'Open Sans', sans-serif; top:45%; position:relative;transition: all 1s;}
